body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.btn {
  height: 75px;
  margin: 15px;
  width: 75px;
}

.btn.number {
  border: 1px solid greenyellow;
  border-radius: 10px;
  font-size: 40px;
}

.btn.number:hover{
  background-color: green;
}

.btn.operator {
  border: 1px solid steelblue;
  border-radius: 10px;
  font-size: 40px;
}
.btn.operator:hover {
  background-color: blue;
}

.btn.decimal {
  border: 1px solid gold;
  border-radius: 10px;
  font-size: 40px;
}

.btn.decimal:hover {
  background-color: orangered;
}

.btn.equal {
  border: 1px solid pink;
  border-radius: 10px;
  font-size: 40px;
}

.btn.equal:hover {
  background-color: palevioletred;
}

.btn.clear {
  border: 1px solid violet;
  border-radius: 10px;
  font-size: 40px;
}

.btn.clear:hover {
  background-color: purple;
}

.first-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.screen {
  align-items: flex-end;
  border: 1px solid salmon;
  display: flex;
  flex-direction: column;
  height: 75px;
  justify-content: flex-end;
  margin: 15px;
  width: 300px;
}

.previous {
  font-size: 20px;
}

.current {
  font-size: 30px;
}
